 *{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.wrapper{
    width: 100%;
    height: 100%;
    background-color:#303030;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.img-container{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}
.img-slider{
    width: 400%;
    display: flex;
    transition-duration: 1s;
}
img{
    width: 25%;
}



footer{
    width: 100%;
    height: 20%;
    display: flex;
}
.descr-container{
    width: 75%;
    height: 100%;
    overflow: hidden;
}
.descr-slider{
    width: 400%;
    height: 100%;
    display: flex;
    transition-duration: 1s;
}
.descr{
    width: 25%;
    height: 100%;
    color: white;
}


.controlls-container{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
input{
    display: none;
}

label{
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}
.label-point{
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgb(62, 138, 226);
}

input:checked ~ label>.label-point{
    background:none;
    border: 2px solid rgb(62, 138, 226);
}
label:hover>.label-point{
    background:white;
}
label:active>.label-point{
    background:rgb(195, 195, 195);
}
input:checked ~ label:hover>.label-point{
    background:none;
    border: 2px solid white;
}
input:checked ~ label:active>.label-point{
    background:none;
    border: 2px solid rgb(195, 195, 195);;
}




@media screen and (max-width: 320px) {
    .wrapper{
        width: 90%;
        margin: auto;
    }
    footer{
        flex-direction: column-reverse;
    }
    .descr-container{
        width: 100%;
    }
    .controlls-container{
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        justify-content: center;
    }
    label{
        width: 20px;
        height: 20px;
    }
    .label-point{
        width: 10px;
        height: 10px;
    }
}